.icon-large{
	font-size: 2em;
}
/* tables */

table {
	border: 0px;
}

table thead tr {
	cursor: pointer;
}

.headerSortUp:after {
	font-family: "Ionicons";
	content: "\f10d";
	float: right;
}
.headerSortDown:after {
	font-family: "Ionicons";
	content: "\f104";
	float: right;
}

/* definition lists */

dl.inline dt, dl.inline dd {
    display: inline;
    margin: 0 5em 0 0;
}

dl.inline dt {
    font-weight: bold;
}
dl.inline dd:before {
    content: " ";
}
dl.inline dt:before { /* forces a new line */
    white-space: pre;
    content: "\A"; /* newline character */
    font-size: 130%; /* a little extra spacing */
    vertical-align: top;
}
dl.inline dt:first-child:before { /* first line */
    content: "";
    font-size: 100%;
}

.spaced-rows .row {
	margin-bottom: 1em;
}

img.radius {
	-webkit-border-radius: 5px;
    border-radius: 5px;
}