html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: "Artifika";
  src: url("../fonts/Artifika-Regular.ttf");
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 16px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-style: normal;
}
small {
  font-size: 60%;
  color: #646464;
}
table {
  background: #fff;
}
table thead,
table tfoot {
  background: #f5f5f5;
}
table thead tr th,
table thead tr td,
table tfoot tr th,
table tfoot tr td {
  padding: 0.5rem 0.625rem 0.625rem;
  font-family: "Raleway";
  color: #222;
  text-align: left;
}
table tr th,
table tr td {
  padding: 0.5625rem 0.625rem;
  color: #222;
}
table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
  display: table-cell;
  line-height: 1.125rem;
}
table.alternate tr:nth-of-type(even) {
  background: #f7f7f7;
}
table.bordered tbody tr {
  border-bottom: 1px solid #eee;
}
img {
  max-width: 100%;
}
.text-center {
  text-align: center !important;
}
img.radius {
  border-radius: 5px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
}
input[type="text"] {
  outline: medium none;
  box-shadow: none;
  background: transparent;
  border-style: none none solid;
  color: inherit;
  margin: 0;
  width: 100%;
  border-color: -moz-use-text-color -moz-use-text-color #d3d3d3;
}
.img-col {
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 50px;
  width: 30%;
  maxWidth: 100px;
}
.main-col {
  width: 58%;
  overflow: hidden;
  padding: 0 5px;
}
.num-col {
  text-align: right;
  width: 12%;
  padding: 0 10px;
}
.full-search {
  *zoom: 1;
  width: auto;
  max-width: 300px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 1rem;
  font-size: 1.5rem;
}
.full-search:before,
.full-search:after {
  content: '';
  display: table;
}
.full-search:after {
  clear: both;
}
#wrap {
  position: relative;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
}
@media only screen and (max-width: 400px) {
  .thumbnail {
    max-height: 50px;
    max-width: 100px;
  }
}
.main {
  *zoom: 1;
  width: auto;
  max-width: 1000px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.main:before,
.main:after {
  content: '';
  display: table;
}
.main:after {
  clear: both;
}
.game-title--small {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  white-space: nowrap;
}
@media only screen and (max-width: 400px) {
  .game-title--small {
    font-size: 1rem;
  }
}
.full-screen {
  height: 100vh;
  width: 100vw;
  background: #1a8dff;
  color: #fff;
  font-size: 20px;
  font-family: "Artifika";
  position: absolute;
}
div.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.banner {
  position: fixed;
  z-index: 99;
  background: #0b5da1;
  color: #f7f9fc;
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
  width: 100%;
  top: 0;
}
.banner-left {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-left: 0%;
  margin-right: 3%;
}
.banner-left:before,
.banner-left:after {
  content: '';
  display: table;
}
.banner-left:after {
  clear: both;
}
.banner-left:last-child {
  margin-right: 0%;
}
.input-icon i {
  vertical-align: middle;
  padding-right: 1rem;
  padding-bottom: 3px;
  border-bottom: 2px solid inherit;
  width: 15%;
}
.input-icon input {
  width: 85%;
}
/* enable absolute positioning */
.inner-addon {
  position: relative;
}
/* style icon */
.inner-addon .icon {
  position: absolute;
  padding: 0.3em;
  pointer-events: none;
}
/* align icon */
.left-addon .icon {
  left: 0px;
}
.right-addon .icon {
  right: 0px;
}
/* add padding  */
.left-addon input {
  padding-left: 1.5em;
}
.right-addon input {
  padding-right: 1.5em;
}
.nav-btn {
  padding: 1rem;
  cursor: pointer;
}
.invisible {
  position: fixed;
  clip: rect(0, 0, 0, 0);
}
#nav-expand:checked + .off-canvas {
  visibility: visible;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.off-canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  visibility: hidden;
  background: #0b5da1;
  color: #d3d3d3;
  -webkit-transform: translate3d(-100%, 0px, 0px);
  transform: translate3d(-100%, 0px, 0px);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.23);
  width: 14rem;
}
.off-canvas-title {
  height: 60px;
  line-height: 60px;
}
.off-canvas-nav li {
  border-top: 1px solid rgba(255,255,255,0.1);
}
.off-canvas-nav li:last-child {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.off-canvas-nav li >:first-child {
  padding: 1rem 2rem;
}
.off-canvas-nav a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
#nav-expand:checked ~ .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 99;
}
.overlay {
  opacity: 0;
  position: absolute;
}
.banner-title {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 58.8%;
  margin-left: 0%;
  margin-right: 3%;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  white-space: nowrap;
}
.banner-title:before,
.banner-title:after {
  content: '';
  display: table;
}
.banner-title:after {
  clear: both;
}
.banner-title:last-child {
  margin-right: 0%;
}
main {
  margin-top: 60px;
}
.under {
  position: absolute;
  width: 100%;
  z-index: -2;
}
.trending-list {
  list-style-type: none;
  background: #fff;
  min-height: 80vh;
}
.trending-list li {
  border-bottom: solid 1px #eee;
}
.trending-list div {
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideup {
  0% {
    top: 10%;
  }

  100% {
    top: 0%;
  }
}
/* Firefox < 16 */
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
/* Opera < 12.1 */
.temp-list {
  list-style-type: none;
  max-height: 80vh;
  overflow: hidden;
}
.temp-list div {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  height: 50px;
}
.placeholder-yellow {
  background: #ffeb3b;
  display: block;
  height: 100%;
  width: 100%;
}
.placeholder-blue {
  background: #2196f3;
  display: block;
  height: 100%;
  width: 100%;
}
.img-center {
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
}
.img-center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.game-table {
  width: 100%;
}
.asc:after {
  font-family: "Ionicons";
  content: "\f10d";
  padding-left: 5px;
}
.des:after {
  font-family: "Ionicons";
  content: "\f104";
  padding-left: 5px;
}
.grid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* Small to medium screens */
@media (min-width: large-screen) {
  .grid {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
/* With gutters */
.grid-gutters {
  margin-left: -1rem;
}
.grid-gutters > .grid-cell {
  padding-left: 1rem;
}
/* Alignment per row */
.grid-top {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.grid-bottom {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.grid-center {
  -webkit-align-items: center;
  align-items: center;
}
/* Alignment per cell */
.grid-cell-top {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.grid-cell-bottom {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.grid-cell-center {
  -webkit-align-self: center;
  align-self: center;
}
/* Base classes for all media */
.grid-fit > .grid-cell {
  -webkit-flex: 1;
  flex: 1;
}
.grid-full > .grid-cell {
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
}
.grid-1of2 > .grid-cell {
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%;
}
.grid-1of3 > .grid-cell {
  -webkit-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
}
.grid-1of4 > .grid-cell {
  -webkit-flex: 0 0 25%;
  flex: 0 0 25%;
}
/* Small to medium screens */
@media (min-width: 24em) {
  .small-grid-fit > .grid-cell {
    -webkit-flex: 1;
    flex: 1;
  }
  .small-grid-full > .grid-cell {
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .small-grid-1of2 > .grid-cell {
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .small-grid-1of3 > .grid-cell {
    -webkit-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
  }
  .small-grid-1of4 > .grid-cell {
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%;
  }
}
/* Large screens */
@media (min-width: 48em) {
  .large-grid-fit > .grid-cell {
    -webkit-flex: 1;
    flex: 1;
  }
  .large-grid-full > .grid-cell {
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .large-grid-1of2 > .grid-cell {
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .large-grid-1of3 > .grid-cell {
    -webkit-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
  }
  .large-grid-1of4 > .grid-cell {
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%;
  }
}
.media {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: column;
  flex-direction: column;
}
@media (max-width: large-screen) {
  .media > .media-figure {
    width: 100%;
  }
  .media > .media-body {
    width: 100%;
  }
}
@media (min-width: large-screen) {
  .media {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
.media-figure {
  margin-right: 2.666666666666667rem;
}
.media-body {
  -webkit-flex: 1;
  flex: 1;
}
.cell20 {
  width: 20%;
}
.cell40 {
  width: 40%;
}
.column {
  padding: 0 1rem;
}
@media (min-width: medium-screen) {
  .column {
    padding-left: 12rem;
  }
}
@media (min-width: large-screen) {
  .column {
    padding: 0 12rem;
  }
}
.nav-anchor {
  visibility: hidden;
}
#page-num {
  width: 2.666666666666667rem;
}
.alert-title {
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.vex-content {
  margin-top: -5.5em !important;
}
.forum-nav {
  list-style-type: none;
  max-height: 25.7rem;
  overflow: auto;
}
.forum-nav li {
  margin-left: 1em;
  margin-bottom: 0.625em;
  font-weight: normal;
  display: block;
  color: #999;
}
.forum-nav dt a,
.forum-nav dd a,
.forum-nav li a {
  text-decoration: none;
  outline: none;
  color: #999;
  padding: 0.1875rem 1rem;
}
.forum-nav dt a:hover,
.forum-nav dd a:hover,
.forum-nav li a:hover {
  color: #737373;
}
.forum-nav dt.active a,
.forum-nav dd.active a,
.forum-nav li.active a {
  border-radius: 3px;
  display: block;
  font-weight: normal;
  background: #008cba;
  padding: 0.1875rem 1rem;
  cursor: default;
  color: #fff;
}
.forum-nav dt.active a:hover,
.forum-nav dd.active a:hover,
.forum-nav li.active a:hover {
  background: #008cba;
  box-shadow: inset 0 0 1rem #00465d;
}
.thread-table {
  background: rgba(0,0,0,0);
  width: 100%;
}
.thread-table thead,
.thread-table tfoot {
  background: rgba(0,0,0,0);
}
.thread-table tr.even,
.thread-table tr.alt,
.thread-table tr:nth-of-type(even) {
  background: rgba(0,0,0,0);
}
.heavy-font {
  font-weight: 500;
}
.thread-title,
.forum-title {
  position: relative;
}
.thread-title .link,
.forum-title .link {
  float: left;
  padding: 5px;
}
.thread-title.stuck {
  background: #555;
}
.thread-title.stuck > * {
  color: #fff;
}
.link {
  background: none;
  border: none;
  display: inline;
  font: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  outline-offset: 0;
/* Additional styles to look like a link */
  color: #2ba6cb;
  cursor: pointer;
}
.link:hover,
.link:active,
.link:focus {
  background: none;
  border: none;
  display: inline;
  font: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  outline-offset: 0;
  color: #2285a2;
  cursor: pointer;
}
.link-wide {
  display: block;
  width: 100%;
  text-align: center;
}
/* sections */
.section {
  margin-bottom: 0.2em;
  padding: 1rem 0;
  box-shadow: 0 0.3em 0.3em -0.3em #000;
}
@media (min-width: medium-screen) {
  .section {
    padding: 4rem 0;
  }
}
.section-white {
  background-image: linear-gradient(to bottom, #f5f3eb 0%, #fff 0%);
}
.section-gray {
  background-image: linear-gradient(to bottom, #f5f3eb 0%, #e8e8e8 100%);
}
.selected {
  background-color: #00506a !important;
  box-shadow: inset 0 0 1rem #002a38;
}
.icon-large {
  font-size: 1.777777777777778rem;
}
.icon-xlarge {
  font-size: 2.666666666666667rem;
}
.icon-huge {
  font-size: 8.88888888888889rem;
}
@media (max-width: medium-screen) {
  .icon-huge {
    display: none;
  }
}
.icon-inline {
  vertical-align: bottom;
}
.stuck {
  position: fixed !important;
  top: 0px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}
.clickable {
  cursor: pointer;
}
@media (max-width: small-screen) {
  .hidden-small {
    display: none;
  }
}
/* Small screens */
@media all and (max-width: medium-screen) {
  .top-nav {
/* On small screens, we are no longer using row direction but column */
    -webkit-flex-direction: column !important;
    flex-direction: column !important;
  }
}
.games-table {
  max-width: 60rem;
}
@media (max-width: small-screen) {
  .game-image {
    max-width: 2.666666666666667rem;
  }
  .hidden-small {
    display: none;
  }
}
footer {
  background: #333;
  padding: 0.5rem 0;
}
footer ul {
  margin: 0 auto;
  padding-bottom: 0;
  text-align: center;
  list-style: none;
}
footer ul li {
  display: inline;
  padding: 0.5rem 1rem;
  text-align: center;
}
footer ul li a {
  color: #fff;
  padding: 0 0.5em;
}
footer ul li i {
  vertical-align: top;
  color: #fff;
}
footer ul li:hover a,
footer ul li:hover i {
  color: #2285a2;
}
@media (max-width: small-screen) {
  footer ul li {
    display: block;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
