@import 'jeet'

// edit()

.stats > li
  padding-bottom 0.5rem

.stats .label
  display inline-block
  vertical-align: top;
  width 60%
  
.stats .value
  display inline-block
  vertical-align: top;
  width 40%
  // span(2/3)
  

.details > li
  padding-bottom 0.5rem

.details .label
  display inline-block
  vertical-align: top;
  width 33%
  
.details .value
  display inline-block
  vertical-align: top;
  width 67%
  // span(2/3)
  

.subheader
  text-align center
  font-size 1.3 rem
  color #666
  padding-bottom 1rem

.label
  color $blue
  font-weight bold

.container
  position relative
  min-height 12rem

.section 
  background white
  padding 0.9rem 0.9rem 0 0.9rem

.game-summary
  position relative
  background white
  // padding 1rem 0 1rem 1rem
  font-size 1.2rem
  height 12rem

.game-summary .game-img
  span(3/5)
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  
.game-img img
  display block
  margin 0 auto
  
.game-summary ul
  span(2/5)
  padding-left .5rem
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  
.quick-stat
  padding .3rem 0
  
.quick-stat .icon
  padding-right 10px

.img-col
  text-align center
  position relative
  overflow hidden
  height 50px
  width 30%
  maxWidth 100px

.main-col
  width 58%
  overflow hidden
  padding 0 5px

.num-col
  text-align right
  width 12%
  padding 0 10px

.full-search
  center(300px)
  padding 1rem
  font-size 1.5rem

#wrap
  // overflow-x: hidden;
  position relative
  transition: transform 0.5s ease 0s;

.thumbnail
  +mobile()
    max-height: 50px
    max-width: 100px

.main
  center(1000px)

.game-title--small
  font-family: $title-font, sans-serif
  font-size: 1.25rem
  white-space: nowrap
  +mobile()
    font-size: 1 rem

.full-screen
  height: 100vh;
  width: 100vw;
  background: #1a8dff
  color: #fff
  font-size: 20px
  font-family: "Artifika"
  position: absolute

div.center
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%
  text-align: center
  
.banner 
  position fixed
  z-index 99
  background $blue
  color #f7f9fc
  margin 0 auto
  // padding 1.5rem 1.25rem
  height 60px
  line-height 60px
  width 100%
  top 0
  
.banner-left
  span(1/6)
.banner-right
  text-align right

.banner-center
  span(4/6)
  text-align center
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  font-size 1.4rem
  position relative
  
.icon-sub-banner
  position: absolute
  bottom: -20px;
  color: #9CCBF1;
  font-size: 1rem;
  
.nav-btn
  padding 1rem
  cursor pointer 
  
.nav-btn i
  vertical-align middle
  
.input-icon i
  vertical-align middle
  padding-right 1rem
  padding-bottom 3px
  border-bottom 2px solid inherit
  width 15%
.input-icon input
  width 85%
  
/* enable absolute positioning */
.inner-addon
  position: relative; 


/* style icon */
.inner-addon .icon
  position: absolute;
  padding: 0.3em;
  pointer-events: none;

/* align icon */
.left-addon .icon
  left:  0px;
.right-addon .icon
  right: 0px;

/* add padding  */
.left-addon input  
  padding-left:  1.5em; 
.right-addon input 
  padding-right: 1.5em; 
  
.invisible
  position fixed
  clip rect(0, 0, 0, 0)
  
#nav-expand:checked + .off-canvas, #nav-secondary:checked + .off-canvas-secondary
  visibility: visible;
  transform: translate3d(0px, 0px, 0px);
  
.off-canvas  
  position fixed
  top 0
  left 0
  height 100%
  z-index 100
  visibility hidden
  background $blue
  color lightgray
  transform: translate3d(-100%, 0px, 0px);
  // transition: all 0.5s ease 0s;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23);
  width 14rem
  
.off-canvas-secondary
  position fixed
  top 0
  right 0
  height 100%
  z-index 100
  visibility hidden
  background $blue
  color lightgray
  transform: translate3d(100%, 0px, 0px);
  // transition: all 0.5s ease 0s;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23);
  width 14rem
  
  
.off-canvas-title 
  height 60px
  line-height 60px
  
.off-canvas-nav li
  // padding 1rem 2rem
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  
.off-canvas-nav li:last-child 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
  
.off-canvas-nav li >:first-child
  padding 1rem 2rem
  
.off-canvas-nav a
  color inherit
  text-decoration none
  display block
  width 100%
  height 100%
  
#nav-expand:checked ~ .overlay, #nav-secondary:checked ~ .overlay
  // position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  opacity: 1;
  transition: opacity .3s;
  z-index 99
  
.overlay
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // height: 0;
  // width: 0;
  opacity: 0;
  position absolute
  // position fixed
  // clip rect(0, 0, 0, 0)
  

// .nav-btn
//   display: block;
//   width: 2.625em;
//   height: 2.25em;
//   padding: 0px;
//   border: 0px none;
//   outline: medium none;
//   // background: url("../img/nav-icon.svg") no-repeat scroll left center / 1.875em 1.5em rgb(51, 51, 51);
//   overflow: hidden;
//   white-space: nowrap;
//   text-indent: 100%;
  
  
main
  margin-top: 60px;

// .above
//   position absolute
//   width 100%
//   z-index 2

.under
  position absolute
  width 100%
  z-index -2

.trending-list
  list-style-type: none
  background white
  min-height 80vh
  margin 0
  // overflow hidden
  // position: relative;
  // -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  //-moz-animation: fadein 1s; /* Firefox < 16 */
  //-ms-animation: fadein 1s; /* Internet Explorer */
  //-o-animation: fadein 1s; /* Opera < 12.1 */
  // animation: fadein 1s;
.trending-list li
  border-bottom: solid 1px #eee
  // border-style: solid none
.trending-list div
  display: inline-block
  vertical-align: middle
  text-overflow: ellipsis


/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideup {
    from { top: 10%; }
    to   { top: 0%; }
}


@keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}

.temp-list
  list-style-type none
  max-height: 80vh
  overflow hidden
  margin 0
  // transition: all 2s ease-in;
  // transition-delay 1s
.temp-list div
  display: inline-block
  vertical-align: middle
  padding 10px
  height 50px

.placeholder-yellow
  background #ffeb3b
  display block
  height 100%
  width 100%

.placeholder-blue
  background #2196f3
  display block
  height 100%
  width 100%

.placeholder-img
  width 10rem
  height 10rem
  margin 0 auto
  
.placeholder-description
  font-family "Redacted"
  color #999

.img-center
  position: absolute
  top: 0
  margin: auto
  left: 0
  right 0
  
.img-center2
  display: block;
  margin-left: auto;
  margin-right: auto;

.game-table
  width: 100%

.asc:after
    font-family "Ionicons"
    content "\f10d"
    // float right
    padding-left 5px

.des:after
    font-family "Ionicons"
    content "\f104"
    // float right
    padding-left: 5px

.grid {
  display: flex;
  flex-direction column
}

/* Small to medium screens */
@media (min-width: large-screen)
  .grid
    flex-direction row


/* With gutters */
.grid-gutters {
  margin-left: -1rem;
}
.grid-gutters > .grid-cell {
  padding-left: 1rem;
}

/* Alignment per row */
.grid-top {
  align-items: flex-start;
}
.grid-bottom {
  align-items: flex-end;
}
.grid-center {
  align-items: center;
}

/* Alignment per cell */
.grid-cell-top {
  align-self: flex-start;
}
.grid-cell-bottom {
  align-self: flex-end;
}
.grid-cell-center {
  align-self: center;
}


/* Base classes for all media */
.grid-fit > .grid-cell
  flex: 1;

.grid-full > .grid-cell {
  flex: 0 0 100%;
}
.grid-1of2 > .grid-cell {
  flex: 0 0 50%
}
.grid-1of3 > .grid-cell {
  flex: 0 0 33.3333%
}
.grid-1of4 > .grid-cell {
  flex: 0 0 25%
}

/* Small to medium screens */
@media (min-width: 24em) {
  .small-grid-fit > .grid-cell {
    flex: 1;
  }
  .small-grid-full > .grid-cell {
    flex: 0 0 100%
  }
  .small-grid-1of2 > .grid-cell {
    flex: 0 0 50%
  }
  .small-grid-1of3 > .grid-cell {
    flex: 0 0 33.3333%
  }
  .small-grid-1of4 > .grid-cell {
    flex: 0 0 25%
  }
}

/* Large screens */
@media (min-width: 48em) {
  .large-grid-fit > .grid-cell {
    flex: 1;
  }
  .large-grid-full > .grid-cell {
    flex: 0 0 100%;
  }
  .large-grid-1of2 > .grid-cell {
    flex: 0 0 50%
  }
  .large-grid-1of3 > .grid-cell {
    flex: 0 0 33.3333%
  }
  .large-grid-1of4 > .grid-cell {
    flex: 0 0 25%
  }
}


.media {
  display: flex;
  align-items: flex-start;
  flex-direction column
}

@media (max-width: large-screen)
  .media > .media-figure
    width 100%
  .media > .media-body
    width 100%


@media (min-width: large-screen)
  .media
    flex-direction row


.media-figure {
  margin-right: -font-size(3);
}

.media-body {
  flex: 1;
}

.cell20
  width 20%

.cell40
  width 40%

.column
    padding 0 1rem

@media (min-width: medium-screen)
  .column
    padding-left 12rem

@media (min-width: large-screen)
  .column
    padding 0 12rem

.nav-anchor
  visibility hidden

#page-num
  width -font-size(3)

.alert-title
  text-align center
  border-bottom 1px solid #ccc

.vex-content
  margin-top -5.5em !important

.forum-nav
  list-style-type none
  max-height 25.7rem
  overflow auto
  li
    margin-left 1em
    margin-bottom 0.625em
    font-weight normal
    display block
    color #999999
  dt a,
  dd a,
  li a
    text-decoration none
    outline none
    color #999999
    padding 0.1875rem 1rem
  dt a:hover,
  dd a:hover,
  li a:hover
    color #737373
  dt.active a,
  dd.active a,
  li.active a
    border-radius 3px
    display block
    font-weight normal
    background buttonblue
    padding 0.1875rem 1rem
    cursor default
    color white
  dt.active a:hover,
  dd.active a:hover,
  li.active a:hover
    background buttonblue
    box-shadow inset 0 0 1rem darken(buttonblue,50%)

.thread-table
  background rgba(0,0,0,0)
  width 100%
  thead,
  tfoot
    background rgba(0,0,0,0)
  tr.even, tr.alt, tr:nth-of-type(even)
    background rgba(0,0,0,0)

.heavy-font
  font-weight 500

.thread-title, .forum-title
  position relative

.thread-title .link, .forum-title .link
  // position absolute
  // left 1em
  float left
  padding 5px

.thread-title.stuck
  // box-shadow 0 3px 3px #eee
  background rgb(85, 85, 85)
  // color #fff

.thread-title.stuck > *
  color #fff

.link
  background none
  border none
  display inline
  font: inherit
  margin 0
  padding 0
  outline none
  outline-offset 0
  /* Additional styles to look like a link */
  color linkblue
  cursor pointer
  // text-decoration: underline;
  &:hover,
  &:active,
  &:focus
    background none
    border none
    display inline
    font inherit
    margin 0
    padding 0
    outline none
    outline-offset 0
    color linkblue-hover
    cursor pointer

.link-wide
  display block
  width 100%
  text-align center
// hr
//   border 0
//   height .02em
//   background-image -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))
//   background-image -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))

/* sections */

// .section
//     margin-bottom .2em
//     padding 1rem 0
//     box-shadow 0 .3em .3em -.3em black

// @media (min-width: medium-screen)
//   .section
//     padding 4rem 0

// .section-white
//   background-image linear-gradient(to bottom, #F5F3EB 0%, #FFFFFF 0%)

// .section-gray
//   background-image linear-gradient(to bottom, #F5F3EB 0%, #E8E8E8 100%)

.selected
  background-color darken(buttonblue-hover,29%) !important
  box-shadow inset 0 0 1rem darken(buttonblue,70%)

//icons
.icon-medium
  font-size -font-size(1.5)

.icon-large
    font-size -font-size(2)

.icon-xlarge
    font-size -font-size(3)

.icon-huge
    font-size -font-size(10)

@media (max-width: medium-screen)
  .icon-huge
    display none

.icon-inline
    vertical-align bottom

.stuck
  position fixed !important
  top 0px
  box-shadow 0px 2px 4px rgba(0, 0, 0, 0.3)

.clickable
  cursor pointer

@media (max-width: small-screen)
  .hidden-small
    display none

//------------------------------------------------------------------------------
// Specific styles
//------------------------------------------------------------------------------

// main {
//   padding-top 1rem
//   display flex
//   flex 1
//   width 100%
//   align-items center
//   justify-content center
// }

// .top-nav
//   list-style none
//   margin 0
//   padding 0
//   background color-blue
//   box-shadow -.05em .3em .3em -.3em black
//   display flex
//   flex-flow row
//   justify-content center
//   align-items center
//   color white
//   li
//     text-align center
//     text-decoration none
//     padding 5px 0
//     color white
//   a
//     display block
//     outline none
//     color white

// .top-nav *{
//   color white
// }

// .top-nav li:hover {
//   background: darken(color-blue, 10%);
// }

/* Small screens */
@media all and (max-width: medium-screen)
  .top-nav
    /* On small screens, we are no longer using row direction but column */
    flex-direction column !important

.games-table
  max-width 60rem

@media (max-width: small-screen)
  .game-image
    max-width -font-size(3)
  .hidden-small
    display none

// footer

footer
  background footerbg
  padding 0.5rem 0
  ul
    margin 0 auto
    padding-bottom 0
    text-align center
    list-style none
    li
      display inline
      padding 0.5rem 1rem
      //font-size 1rem
      text-align center
      a
        color white
        padding 0 .5em
      i
        vertical-align top
        color white
    li:hover a, li:hover i
      color linkblue-hover

@media (max-width: small-screen)
  footer ul li
    display block

