//fonts
font = 17px "Gen Light"
title-font = "Hans Kendrick"
color-blue = #0B5DA1
p
a
button
input
  font font
h1
h2
h3
h4
h5
  font-family title-font
.top-nav  
  background-color color-blue
  box-shadow -.05em .3em .3em -.3em black
  text-align center
  li
    text-align center
  a
    color white
    outline none
    :hover
      color #f3535a
      
input[type="radio"] + label
  margin-left 0
  margin-right 0
  margin-bottom 1em

.radio-button
  display none
  + label
    margin-left 0
    margin-right 0
    margin-bottom 1em
.radio-button:checked + label
  color white
  background-color darken(#0c88b9,15%)

.selected
  background-color darken(#0c88b9,20%)

//icons
.icon-large
    font-size 2em
.icon-huge
    font-size 10em
.icon-inline
    vertical-align bottom
table 
    border 0px
table thead tr 
    cursor pointer

.headerSortUp:after 
    font-family "Ionicons"
    content "\f10d"
    float right

.headerSortDown:after 
    font-family "Ionicons"
    content "\f104"
    float right

.spaced-rows .row
    margin-bottom 1em

img.radius
    border-radius 5px

.link
  background: none;
  border: none;
  display: inline;
  font: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  outline-offset: 0;
  /* Additional styles to look like a link */
  color: rgb(0, 140, 186);
  cursor: pointer;
  text-decoration: underline;
  &:hover,
  &:active,
  &:focus
    background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    /* Additional styles to look like a link */
    color: rgb(0, 120, 160);
    cursor: pointer;
    text-decoration: underline;

.link-wide
  display block
  width 100%
  text-align center
hr 
  border 0 
  height .02em 
  background-image -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)) 
  background-image -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))


.section
    margin-bottom .2em
    padding 5em 0
    box-shadow 0 .3em .3em -.3em black

footer 
  background #333333
  padding 1.7em 0
  margin-top -.5em
  ul
    margin 0 auto
    padding-bottom 0
    text-align center
    list-style none
    li 
      display inline
      margin 0 1em
      font-size 0.75rem
      text-align center
      a
        color: white;
        padding: 0 .5em
      i
        vertical-align bottom
        color white
    
      &:hover
        color: #777777;

.section-white    
  background-color: #a1dafa;
  background-image: linear-gradient(to bottom, #F5F3EB 0%, #FFFFFF 0%);


.section-gray 
  background-image: linear-gradient(to bottom, #F5F3EB 0%, #E8E8E8 100%);


.categories
  list-style circle
  li 
    list-style circle

@media only screen and (min-width: 64.063em)
  .sub-nav
    background-color: white;
    box-shadow: 5px 6px 6px -6px black;
    position: fixed; 
    display: block;
    list-style-type: none;
    overflow: hidden;
    width: 10em;
    margin: -0.25rem 0 1.125rem;
    padding 1em 0
    margin-top: 2em;
    margin-right: 0em;
    margin-left: -0.6rem;
    z-index 999
    dt 
      text-transform: uppercase;
    dt,
    dd,
    li
      margin-left: 1em
      margin-bottom: 0.625em
      font-weight: normal
      font-size: .3em
      color: #999999
    dt a,
    dd a,
    li a 
      text-decoration: none;
      outline none
      color: #999999;
      padding: 0.1875rem 1rem; 
    dt a:hover,
    dd a:hover,
    li a:hover
      color: #737373; 
    dt.active a,
    dd.active a,
    li.active a
      border-radius: 3px;
      font-weight: normal;
      background: #008cba;
      padding: 0.1875rem 1rem;
      cursor: default;
      color: white;
    dt.active a:hover,
    dd.active a:hover,
    li.active a:hover 
      background: #0078a0;