@import 'jeet'

// edit()

.thumbnail
  +mobile()
    max-height: 50px
    
.main
  center(1000px)
    
.game-title--small
  font-family: $title-font, sans-serif
  font-size: 1.25rem
  +mobile()
    font-size: 1 rem
  
.game-table
  width: 100%
  
.asc:after 
    font-family "Ionicons"
    content "\f10d"
    // float right
    padding-left 5px

.des:after 
    font-family "Ionicons"
    content "\f104"
    // float right
    padding-left 5px

.grid {
  display: flex;
  flex-direction column
}

/* Small to medium screens */
@media (min-width: large-screen)
  .grid
    flex-direction row


/* With gutters */
.grid-gutters {
  margin-left: -1rem;
}
.grid-gutters > .grid-cell {
  padding-left: 1rem;
}

/* Alignment per row */
.grid-top {
  align-items: flex-start;
}
.grid-bottom {
  align-items: flex-end;
}
.grid-center {
  align-items: center;
}

/* Alignment per cell */
.grid-cell-top {
  align-self: flex-start;
}
.grid-cell-bottom {
  align-self: flex-end;
}
.grid-cell-center {
  align-self: center;
}


/* Base classes for all media */
.grid-fit > .grid-cell 
  flex: 1;

.grid-full > .grid-cell {
  flex: 0 0 100%;
}
.grid-1of2 > .grid-cell {
  flex: 0 0 50%
}
.grid-1of3 > .grid-cell {
  flex: 0 0 33.3333%
}
.grid-1of4 > .grid-cell {
  flex: 0 0 25%
}

/* Small to medium screens */
@media (min-width: 24em) {
  .small-grid-fit > .grid-cell {
    flex: 1;
  }
  .small-grid-full > .grid-cell {
    flex: 0 0 100%
  }
  .small-grid-1of2 > .grid-cell {
    flex: 0 0 50%
  }
  .small-grid-1of3 > .grid-cell {
    flex: 0 0 33.3333%
  }
  .small-grid-1of4 > .grid-cell {
    flex: 0 0 25%
  }
}

/* Large screens */
@media (min-width: 48em) {
  .large-grid-fit > .grid-cell {
    flex: 1;
  }
  .large-grid-full > .grid-cell {
    flex: 0 0 100%;
  }
  .large-grid-1of2 > .grid-cell {
    flex: 0 0 50%
  }
  .large-grid-1of3 > .grid-cell {
    flex: 0 0 33.3333%
  }
  .large-grid-1of4 > .grid-cell {
    flex: 0 0 25%
  }
}


.media {
  display: flex;
  align-items: flex-start;
  flex-direction column
}

@media (max-width: large-screen)
  .media > .media-figure
    width 100%
  .media > .media-body
    width 100%


@media (min-width: large-screen)
  .media
    flex-direction row


.media-figure {
  margin-right: -font-size(3);
}

.media-body {
  flex: 1;
}

.cell20
  width 20%

.cell40
  width 40%

.column  
    padding 0 1rem

@media (min-width: medium-screen)
  .column  
    padding-left 12rem

@media (min-width: large-screen)
  .column  
    padding 0 12rem

.nav-anchor
  visibility hidden

#page-num
  width -font-size(3)

.alert-title
  text-align center
  border-bottom 1px solid #ccc

.vex-content
  margin-top -5.5em !important

.forum-nav
  list-style-type none
  max-height 25.7rem
  overflow auto
  li
    margin-left 1em
    margin-bottom 0.625em
    font-weight normal
    display block
    color #999999
  dt a,
  dd a,
  li a 
    text-decoration none
    outline none
    color #999999
    padding 0.1875rem 1rem
  dt a:hover,
  dd a:hover,
  li a:hover
    color #737373 
  dt.active a,
  dd.active a,
  li.active a
    border-radius 3px
    display block
    font-weight normal
    background buttonblue
    padding 0.1875rem 1rem
    cursor default
    color white
  dt.active a:hover,
  dd.active a:hover,
  li.active a:hover 
    background buttonblue
    box-shadow inset 0 0 1rem darken(buttonblue,50%)

.thread-table
  background rgba(0,0,0,0)
  width 100%
  thead,
  tfoot
    background rgba(0,0,0,0)
  tr.even, tr.alt, tr:nth-of-type(even)
    background rgba(0,0,0,0)

.heavy-font
  font-weight 500

.thread-title, .forum-title
  position relative

.thread-title .link, .forum-title .link
  // position absolute
  // left 1em
  float left
  padding 5px

.thread-title.stuck
  // box-shadow 0 3px 3px #eee
  background rgb(85, 85, 85)
  // color #fff

.thread-title.stuck > *
  color #fff
  
.link
  background none
  border none
  display inline
  font: inherit
  margin 0
  padding 0
  outline none
  outline-offset 0
  /* Additional styles to look like a link */
  color linkblue
  cursor pointer
  // text-decoration: underline;
  &:hover,
  &:active,
  &:focus
    background none
    border none
    display inline
    font inherit
    margin 0
    padding 0
    outline none
    outline-offset 0
    color linkblue-hover
    cursor pointer

.link-wide
  display block
  width 100%
  text-align center
// hr 
//   border 0 
//   height .02em 
//   background-image -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)) 
//   background-image -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))

/* sections */

.section
    margin-bottom .2em
    padding 1rem 0
    box-shadow 0 .3em .3em -.3em black

@media (min-width: medium-screen)
  .section
    padding 4rem 0

.section-white    
  background-image linear-gradient(to bottom, #F5F3EB 0%, #FFFFFF 0%)

.section-gray 
  background-image linear-gradient(to bottom, #F5F3EB 0%, #E8E8E8 100%)

.selected
  background-color darken(buttonblue-hover,29%) !important
  box-shadow inset 0 0 1rem darken(buttonblue,70%)

//icons
.icon-large
    font-size -font-size(2)

.icon-xlarge
    font-size -font-size(3)

.icon-huge
    font-size -font-size(10)

@media (max-width: medium-screen)
  .icon-huge
    display none

.icon-inline
    vertical-align bottom
    
.stuck 
  position fixed !important
  top 0px
  box-shadow 0px 2px 4px rgba(0, 0, 0, 0.3)

.clickable
  cursor pointer

@media (max-width: small-screen)
  .hidden-small
    display none
    
//------------------------------------------------------------------------------    
// Specific styles
//------------------------------------------------------------------------------  
  
main {
  padding-top 1rem
  display flex
  flex 1
  width 100%
  align-items center
  justify-content center
}

.top-nav 
  list-style none
  margin 0
  padding 0
  background color-blue
  box-shadow -.05em .3em .3em -.3em black
  display flex
  flex-flow row
  justify-content center
  align-items center
  color white
  li    
    text-align center
    text-decoration none
    padding 5px 0
    color white
  a
    display block
    outline none
    color white

.top-nav *{
  color white
}

.top-nav li:hover {
  background: darken(color-blue, 10%);
}

/* Small screens */
@media all and (max-width: medium-screen)
  .top-nav
    /* On small screens, we are no longer using row direction but column */
    flex-direction column !important
  
.games-table
  max-width 60rem

@media (max-width: small-screen)
  .game-image
    max-width -font-size(3)
  .hidden-small
    display none
  
// footer

footer 
  background footerbg
  padding 0.5rem 0
  ul
    margin 0 auto
    padding-bottom 0
    text-align center
    list-style none
    li 
      display inline
      padding 0.5rem 1rem
      //font-size 1rem
      text-align center
      a
        color white
        padding 0 .5em
      i
        vertical-align top
        color white
    li:hover a, li:hover i
      color linkblue-hover

@media (max-width: small-screen)
  footer ul li
    display block
    
