//fonts
$font = "PT Sans"
serif-font = "Libre Baskerville"
$fontsize = 18px
$title-font = "Raleway"
color-blue = #0B5DA1
darkgray = #222222
linkblue = #2ba6cb
linkblue-hover = darken(linkblue,20%)
sheadinggray = #6f6f6f
buttonblue = #008cba
buttonblue-hover = darken(buttonblue,20%)
footerbg = #333333

@font-face {
    font-family: "Artifika";
    src: url("../fonts/Artifika-Regular.ttf");
}

-font-size()
  (16/$fontsize)*arguments rem
